<ng-container *ngIf="equipment$ as equipment; else loading">

    <p></p>

    <h1></h1>

    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ equipment.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ equipment.name }}</td>
            </tr>
            <tr>
                <td>Clinic</td>
                <td><a [routerLink]="['/clinics/',equipment.clinic.id]">{{ equipment.clinic.name }}</a></td>
            </tr>
            <tr>
                <td>Provide Date</td>
                <td>{{ equipment.provideDate }}</td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>{{ equipment.quantity }}</td>
            </tr>
            <tr>
                <td>Unit Price</td>
                <td>{{ equipment.unitPrice }}</td>
            </tr>
            <tr>
                <td>Usage Rate</td>
                <td>{{ equipment.usageRate }}</td>
            </tr>
            <tr>
                <td>Creation date and time</td>
                <td>{{ equipment.createdDate }}</td>
            </tr>
            <tr>
                <td>Last updated date and time</td>
                <td>{{ equipment.updateDate }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-secondary float-left" [routerLink]="['/equipments']">Back</button>
</ng-container>
<ng-template #loading>Loading…</ng-template>