<p>Equipment</p>

<dx-data-grid
  id="gridContainer"
  [dataSource]="equipmentList"
  [allowColumnResizing]="true"
  [allowColumnResizing]="true"
  [showBorders]="true"
  (onToolbarPreparing)="onToolbarPreparing($event)"
>
  <dxi-column [dataField]="'id'" [width]="100"></dxi-column>
  <dxi-column [dataField]="'name'"></dxi-column>
  <dxi-column [dataField]="'quantity'"></dxi-column>
  <dxi-column [dataField]="'unitPrice'"></dxi-column>
  <dxi-column type="buttons" [width]="120" [caption]="">
    <dxi-button icon="edit" [onClick]="onEditClicked"></dxi-button>
    <dxi-button
      icon="trash"
      name="customDelete"
      [onClick]="onDeleteClicked"
    ></dxi-button>
    <dxi-button icon="chevronnext" [onClick]="onViewClicked"></dxi-button>
  </dxi-column>
</dx-data-grid>
