<ng-container *ngIf="clinic$ as clinic; else loading">

    <p></p>

    <h1></h1>

    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ clinic.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ clinic.name }}</td>
            </tr>
            <tr>
                <td>Creation date and time</td>
                <td>{{ clinic.createdDate }}</td>
            </tr>
            <tr>
                <td>Last updated date and time</td>
                <td>{{ clinic.updateDate }}</td>
            </tr>
            <tr>
                <td>Equipments</td>
                <td>
                    <tr *ngFor="let equipment of clinic.equipments">
                        <td> <a [routerLink]="['/equipments/',equipment.id]">{{ equipment.name }}</a></td>
                    </tr>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-secondary float-left" [routerLink]="['/clinics']">Back</button>
</ng-container>
<ng-template #loading>Loading…</ng-template>