<h1>{{actionType}}</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
        <label class=" control-label col-md-12">Name</label>
        <div class="col-md-12">
            <input class="form-control" type="text" formControlName="name">
        </div>
        <span class="text-danger ml-3" *ngIf="name.invalid && formDir.submitted">
      Name is required.
    </span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success float-right">Save</button>
        <button class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
    </div>
</form>